{# file: roles/local_users/templates/gitconfig.j2
#}
[user]
        name = {{ item.value.fullname }}
        email = {{ item.value.email }}
[core]
        autocrlf = input
        hooksPath = hooks
[push]
	default = simple
