# file: host_vars/localhost

#
# roles/local_users
#
local_users:
  jdoe:
    fullname: John Doe
    email: john.doe@example.com
    groups: wheel
    shell: /bin/bash

#
# roles/subversion_repos
#
subversion_repos:
# Apache Shiro - Java security framework
- url: "http://svn.apache.org/repos/asf/shiro/tags/shiro-root-1.2.3"
  user: jdoe
  dest: "~/workspace/shiro-root-1.2.3"
